[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
plotly = "*"
pandas = "*"
cd = "*"
dash-daq = "*"
dash-bootstrap-components = "~=0.13"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
